/* You can add global styles to this file, and also import other style files */

* {
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

.scroll {
  width:2rem;
  height: 2rem;
}

.scroll:hover {
  cursor: pointer;
}
