@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
  user-select: none;
  /* font-size: 16px; */
}

body {
  margin: 0;
  background-color: rgb(209, 220, 221);
  /* min-height: 100vh; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

#game__header {
  margin: 1.5rem 0;
  font-size: 3rem;
  font-weight: 600;
  text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.shock-header {
  animation: shake 0.2s alternate 2;
}

@keyframes shake {
  0% {
    transform: translateX(0) rotate(0);
  }

  50% {
    transform: translateX(0.625rem) rotate(10deg);
  }

  100% {
    transform: translateX(-0.625rem) rotate(-10deg);
  }
}

.field {
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  width: 21rem;
  height: 21rem;
  display: flex;
  flex-direction: column;
  background-clip: content-box;
  background-color: rgb(82, 138, 187);
}

.shock-field {
  animation: blast 0.1s alternate 4;
}

@keyframes blast {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(0.2rem);
  }

  100% {
    transform: translateX(-0.2rem);
  }
}

.row {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cell {
  width: 2rem;
  margin: 0.5rem;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

.occupied {
  background: aliceblue;
  box-shadow: inset 0 -0.5rem 0.5rem rgba(0, 0, 0, 0.5),
    0 0.5rem 1rem rgba(0, 0, 0, 0.75);
}

.empty {
  background: black;
  box-shadow: none;
}

.moveable:hover {
  background: red;
  cursor: pointer;
}

.taken {
  cursor: pointer;
  background: blue;
  transform: scale(1.3);
}

.transposable {
  background: greenyellow;
  cursor: pointer;
}


/* ------------------------ */

.showReport {
  margin: 1.5rem 0 0;
}

#info {
  height: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: black;
  margin: 0 0 1.5rem;
  text-align: center;


}

.pegs {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 3rem;
  margin: 1rem 0;
}

#pegNumber {
  margin: 0 1rem;
  font-size: 3rem;
  font-weight: 600;
  color: rgb(82, 138, 187);
  float: right;
}


.btn {
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.35);
  cursor: pointer;
  margin: 1.5rem 0 0;
  padding: 0.25rem;
  text-align: center;
  transition: all 0.3s;
  background-color: rgb(219, 222, 224);
}

.btn:hover {
  background-color: aliceblue;
}

.btn:active {
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.35),
    0 0 0.5rem rgba(0, 0, 0, 0.35);
}

#playRules {
  margin: 10rem 0;
  width: 20rem;
}

h1 {
  text-align: center;
}

p {
  font-size: 1.2rem;
  text-align: justify;

}

ul {
  font-size: 1.2rem;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

li {
  text-align: left;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

@media screen and (max-width:370px) {
  html {
    font-size: 13px;
  }
}