@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('./modal.css');

html{
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
  user-select: none;
  font-size:16px;
  background-color: rgb(240, 248, 255);
}

*{
	box-sizing: border-box;
}

body{  
  margin: 1rem;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container{
  background-color: rgb(255, 255, 255);  
  box-shadow: 0px 0px 7px rgba(0, 0, 0,0.5);
  border-radius: 0.5rem;
  width:auto;
  padding: 0 1.5rem 1.5rem;
}
.titleBox{    
  position: sticky;
  top: 0rem;  
  padding: 1rem 0 0;
  background-color: rgb(255, 255, 255);  
}
.mainTitle{
  margin:0;
  padding:0 0 0.5rem;
  text-align: center;   
  font-size: 2rem;  
  font-weight: 900;
  color: slategray;  
}

.dataTable{ 
  border-collapse: collapse;  
}

tr{
  border-bottom: 1px solid slategray;
  line-height: 2rem;
}
th,td{
  padding: 0 0.5rem;
}
th{
  font-size: 1.25rem; 
  background-color: rgb(255, 255, 255);  
}
.header--texts{
  position: sticky;
  top:4.21rem;
}
.header--inputs{
  position: sticky;
  top:6.18rem;  
}

td{
  font-size: 1rem;
}
td:hover:not(.opt)
/* td:hover:not(.id):not(.opt) */
{
  /* cursor: pointer; */
  background-color: rgba(77, 144, 253,0.15);;
}
td.opt{
  display: flex;
  flex-direction: row;  
}

.btn{  
  display:flex;
  align-items: center;
  justify-content: center;  
  border-radius: 0.3rem;
  box-shadow:
    0 0 5px rgba(0,0,0,0.5);
  cursor: pointer;
  margin:0.2rem auto;
  padding:0.375rem 0;
  width:45%;
  font-size: 1rem;  
  color:rgb(255, 255, 255);  
}
.btn:active{
  box-shadow:
    0 0 5px rgba(0,0,0,0.5),
    0 0 10px rgba(0,0,0,0.75) inset;
}
.edit--btn{    
  background-color: rgb(77, 144, 253);
}
.delete--btn,
.cancel--btn
{  
  background-color: rgb(253, 77, 77);  
}
.save--btn,
.cancel--btn
{    
  font-size: 1rem;
  padding:0.375rem;
}
.cancel--btn{    
  font-size: 1rem;
  padding:0.375rem;
}
.save--btn{
  background-color: rgb(2, 141, 0);
}

.displayNone{
  display: none;
}

input{
  border-style: none;
  outline: none;
  box-shadow:
  0 0 3px rgba(0,0,0,0.5);
  border-radius: 0.3rem;
  font-weight: 600;
  font-size: 1rem;
  font-style: italic;
  width: 100%;
  padding: 0 0.5rem;
  line-height: 1.5rem;
}
/* ::placeholder{
} */
input.input--btn{
  background-color: rgb(77, 144, 253);
  cursor: pointer;
  color:rgb(255, 255, 255);  
}
