header {
  background-image: url(var(bgImages-header)),
    linear-gradient(to right, var(colors-gradientFrom), var(colors-gradientTo));
  background-repeat: repeat;
  color: var(colors-white);
  margin: 0;
  padding: 7rem 3rem 3rem;
  
  & .row {
    display: flex;
    justify-content: center;
    align-items: center;    

    & div:first-child {
      margin: auto 0;

      & h3 {
        margin-bottom: 3rem;
        font-weight: 100;
      }
      & button {
        margin-bottom: 3rem;
        width: 16rem;
      }
    }

    & div:last-child {
      margin-top: 1rem;
      display: flex;      
      justify-content: center;
      margin-bottom: 1rem;
    }
  }
}
