@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
  user-select: none;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: rgb(240, 248, 255);
}

.main__header {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 10px rgb(0, 0, 0);
  width: 100%;
}

.slide--container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: left 0.5s ease-in-out;
}

.goLeft {
  left: -100%;
}

.buttons {
  position: absolute;
  top: 50%;
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
}

.buttons i {
  cursor: pointer;
}

.numbering {
  position: absolute;
  top: 5%;
  left: 3%;
  font-weight: bold;
}

.caption {
  position: absolute;
  bottom: 2%;
  text-transform: capitalize;
  font-weight: bold;
}

.dot--container {
  justify-self: flex-end;
  margin: 1rem 0;
}

.dot {
  display: inline-block;
  margin: 0 0.25rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: lightgray;
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

.dot:hover,
.dot-selected {
  background-color: gray;
}