/* colors */
:root {
  --yellow: #fdcc52;
  --white: #ffffff;
  --darkgray: #222122;
  --lightgray: #d7bacb;
  --gray-menu-border: #d8d6d6;
  --black: #000000;
  --red: #de4b38;
  --light-blue: #3e9cd6;
  --dark-blue: #395999;
  --light-blue-opacity-90: #3e9cd6e6;
  --dark-blue-opacity-90: #395999e6;
  --red-opacity-90: #de4b38e6;
  --footer-grey: #524e4e;
  --icons: #ac3063;
  --filter: rgba(0, 0, 0, 0.5);
  --line: #dcdada;
  --gradient-from:#dc2231;
  --gradient-to:#7b4296;
}

/* fonts */
@font-face {
  font-family: 'muli';
  src: url('../font/Mulish-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'lato';
  src: url('../font/Lato-Regular.ttf');
}

@font-face {
  font-family: 'catamaran';
  src: url('../font/Catamaran-Thin.ttf');
}

a:link {
  text-decoration: none;
}

footer,
p {
  font-family: 'muli', Helvetica, Arial, sans-serif;
}

.nav-link {
  font-family: 'lato', Helvetica, Arial, sans-serif;
  font-variant: small-caps;
}

.btn {
  color: var(--white);
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: background-color 0.3s ease-in-out;
  padding: 1rem 2rem;
  border: 1px solid var(--white);
  outline: none;
}

.btn:hover,
.btn:active {
  background-color: var(--yellow);
  color: var(--white);
  border-color: var(--yellow);
  outline: none;
}

h1, h2, h3, h4, h5, h6,
.navbar-brand {
  font-family: 'catamaran', Helvetica, Arial, sans-serif;
}

html {
  /* scroll-behavior: smooth; */
  user-select: none;
  /* font-size: 16px; */
}

header {
  background-image: url('../img/bg-pattern.png'), linear-gradient(to right, var(--gradient-from), var(--gradient-to));
  background-repeat: repeat;
  color: var(--white);
}

* {
  box-sizing: border-box;
}

.navbar {
  transition: background-color 0.3s ease-in-out;
}

.navbar-brand {
  color: var(--yellow);
}

.nav-link,
.menu {
  color: var(--lightgray);
}

.navbar-brand:hover,
.nav-link:hover {
  color: var(--white);
}

.navbar-toggler-icon {
  font-size: 0.5rem;
}

.outScrolled {
  background-color: var(--white);
  color: var(--darkgray);
}

.outScrolled:hover {
  background-color: var(--white);
  color: var(--yellow);
}

.navbar-brand,
.nav-link,
.menu {
  background-color: transparent;
}

.image-box {
  position: relative;
  width: 22rem;
}

.phone {
  width: 100%;
}

.inlet {
  position: absolute;
  width: 87%;
  top: 11.6%;
  left: 6.62%;
  border-radius: 1.5%;
}

#download .jumbotron {
  background-color: var(--yellow);
  color: var(--black);
  padding: 5rem 0;
}

.store-links {
  width: 13rem;
}

#features .jumbotron {
  background-color: var(--white);
  color: var(--black);
  padding: 5rem 0;
}

.line {
  width: 120px;
  height: 2px;
  background-color: var(--line);
}

.icons {
  color: var(--icons);
  font-size: 5rem;
}

.big-screen {
  background-image: url('../img/bg-cta.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 15rem 0;
}

.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--filter);
  top: 0;
}

#contact .jumbotron {
  background-color: var(--yellow);
  color: var(--black);
  padding: 7rem 0;
}

.heart {
  color: var(--red);
  font-size: 4.5rem;
  margin: 0 0 1rem 0;
}

.social-media-icons {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  color: var(--white);
  font-size: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: background-color 0.3s ease-in-out; */
}

.twitter {
  background-color: var(--light-blue-opacity-90);
}

.facebook {
  background-color: var(--dark-blue-opacity-90);
}

.google {
  background-color: var(--red-opacity-90);
}

.twitter:hover {
  background-color: var(--light-blue);
}

.facebook:hover {
  background-color: var(--dark-blue);
}

.google:hover {
  background-color: var(--red);
}

footer {
  background-color: var(--darkgray);
  color: var(--footer-grey);
}

footer a {
  color: var(--footer-grey);
}

footer a:hover {
  color: var(--yellow);
}

@media screen and (max-width: 470px) {
  .image-box {
    width: 18rem;
  }

  html {
    font-size: 12px;
  }

}